/****************************
General
*****************************/
section ul p {
    font-size: 15px;
    color: #0fad90;
}
body {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
   /*Max-width is relaed to with. But indtead of with, max-width that it can be smaller for mobile device/tablets.*/
    max-width: 940px;
    /*Margin 0 is for all sides.*/
    margin: 0 auto;
    /*Values first one is top to bottom. Second one is left to right.*/
    padding: 0 5%;
}
a {
  text-decoration: none;  
}

img {
    max-width: 100%;
}

selected {
    
  }
  
h3 {
    margin: 0 0 1em 0;
}
/********************************
Header
*********************************/
header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}
#logo {
    /*Our  name and description of who we are.*/
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Caveat Brush', cursive, sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
}

h2 {
    font-size: 1.00em;
    /*1st value is foor top. 2nd value is for left and right. 3rd value is for bottom.*/
    margin: -5px 0 0;
    font-weight: normal;
}

header ul a img {
    float: center;
    margin: 0 auto;
    
}
/****************************
Navigation
*****************************/
nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    padding: 10px  0;
    margin: 0  10px;
}

nav li {
    display: inline-block;
    
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
    
}
/****************************  
Footer
*****************************/
footer {
    font-size: 1.00em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
    clear: both;
}

.social-media-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}
/********************************
Page Portfolio
*********************************/
#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: darkgrey;
    color: #bdc3c7;
}

#gallery li a {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: white;
    
}
/****************************
About Me
*****************************/
.profile-photo {
   display: block;
   max-width: 0 auto 30px;
   border-radius: 15%;
}

/****************************
Contact Page
*****************************/
.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}


.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}


.contact-info  li.mail a {
    background-image: url('../img/gmail-icon.png');
}

.contact-info  li.Facebook a {
    background-image: url('../img/facebook-icon.png');
}
/****************************
Colors
*****************************/
body {
    background-color: white;
    color: #999;
}

a {
    color: #0fad90;
}

header {
   background-color: #c0a2c7;
}

h1, h2 {
   color: #fff; 
}

nav {
    background: #b1c4b0;
}
/*Peusode-class*/
nav a, nav a:visited {
    color: #fff;
}

nav a.selected,nav a:hover {
    color: gray;
}

/****************************
Media Querie
************************/
/*Two coloum layout*/

@media screen and (min-width: 480px){
    #primary {
        width: 50%;
        float: left;
    }
    
    #secondary {
        width: 40%;
        float: right;
    }
    /*Three coloum layout porttfolio*/
    
    #gallery li {
        width: 28.3333%;
    }
    #gallery li:nth-child(4n) {
        clear: left;
    }
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}
@media screen and (min-width: 660px) {
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width:45%;
}
#logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
}
header {
    border-bottom: 5px solid black;
    margin-bottom: 60px;
}
}